.clients-background{
  width: inherit;
  background-color: #a19894;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // margin-top: 2px;
  // margin-left: 2px;
}
