.clients-background{
  width: inherit;
  background-color: #e4d6d0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  margin-top: 2px;
  // margin-left: 2px;
  overflow: auto;
}
.list-clients {
  margin: 10px;
  width: inherit;
  border: #756e6b;
  overflow: auto;
}
.container-clients {
  margin: 10px;
  width: -webkit-fill-available;
  // height: 88vh;
  border: 1px solid;
  border-color: #756e6b;
  overflow: auto;
}
.titre {
  background-color: #756e6b;
}
.navbar-search{
  margin: 10px;
}
.show-client{
  border: 1px solid;
  border-color: #756e6b;
  overflow: auto;
  margin-bottom: 10px;
  ul{
    margin-top: 10px;
    list-style-type: none;
  }
}
.btn-info-client{
  width: -webkit-fill-available;
  margin-bottom: 10px;
}
