<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border border-secondary rounded navbar-search">
  <div class="container-fluid">
    <%= render "clients/new"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarListClients" aria-controls="navbarListClients" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarListClients">
          <%= form_with url: clients_path, method: :get, html: { data: {search_clients_target: "form"} } do |f|%>
            <%= f.text_field :query, class: "form-control",
                              placeholder: "Rechercher",
                              value: params[:query],
                              data: {search_clients_target: "input",
                              action:"keyup->search-clients#update"}%>
          <% end%>
          <select class="form-select" aria-label="Default select example" data-search-clients-target= "searchParam">
            <option value="nom">Nom</option>
            <option value="cp">Code postal</option>
            <option value="telephone_portable">Téléphone portable</option>
            <option value="email">Email</option>
          </select>
    </div>
  </div>
</div>
