<div class= "clients-background  border border-secondary rounded-4">
  <div class="text-center">
    <h1>Index clients</h1>
  </div>
  <div>
    <%= render "clients/navbar"%>
    <%= render "clients/list"%>
  </div>
</div>
