<div class= "clients-background  border border-secondary rounded">
  <div class="text-center">
    <h1>CLIENTS</h1>
  </div>
  <div data-controller="search-clients">
    <%= render "clients/navbar"%>
    <%= render "clients/list"%>
  </div>
</div>
